.input-container {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 2rem;
    outline: none;
    width: 80%;

    &:focus {
        outline: none;
    }
}