.editprofile-header {
    display: flex;
    align-items: center;
    gap: 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;

    }

    svg {
        font-size: 2rem;
        cursor: pointer;
    }

}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    label {
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(132, 41, 138);
    }

    p {
        color: #d7d7d7;
        font-weight: 700;
    }
}

.input__container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.edit-save {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: rgb(132, 41, 138);
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem 1rem;
}

.password-input {
    width: 23rem;
    display: flex;
    justify-content: center;

}