
.form-container {

    .err{
        color: rgb(177, 14, 14);
        font-weight: 700;
        text-align: center;
    }
}

.input___container {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}




