.home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;

    .home-content{
        padding-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        gap:3rem;

        p{
            font-size: 1.5rem;
         
            text-align: center;
        
        }
        .pending{
            color: rgb(255, 255, 20);
            margin-left: 0.5rem;
            font-size: 2rem;
        }
        .active{
            color: rgb(0, 255, 0);
            margin-left: 0.5rem;
            font-size: 2rem;
        }
        .deactive{
            color: rgb(255, 0, 0);
            margin-left: 0.5rem;
            font-size: 2rem;
        }
        span{
            font-weight: 700;
            color: rgb(132, 41, 138);
            text-transform: uppercase;
        }
    }
  
   
}